/* You can add global styles to this file, and also import other style files */
.ui-row-toggler{
  font-weight: bold;
  font-size: 34px;
  position: relative;
  top: 3px;
}
.ui-orderlist .ui-orderlist-filter-container .fa {
  position: absolute;
  top: 50%;
  left: 5px !important;
  margin-top: -.6em;
}